@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
    position: relative;
    top: -10px;
    left: -9px;
    

}

a {
    display: block;
    background-color: darkred;
    color: white;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background-color: red;
}